@import "font-awesome";
@import "normalize.css";
@import "common.scss";
@import "deaths.scss";
@import "sideBar.scss";


body {
  font-family: 'Open Sans';
  margin: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul{
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.main-container {
  display: flex;
}

.logo {
  height: 56px;
  width: 56px;
  padding: 6px;
  background-color: $red;
  color: white;
  font-size: 1.1em;
  display: inline-block;
}

.spinner-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: $red;
  width: calc(100% - 280px);
  color: white;
  display: flex;
  font-family: 'Montserrat';
  justify-content: center;
  align-items: center;
  z-index: 101;
  height: 50px;
  transition: bottom 0.4s;
  &.spinner-hidden{
    height: 0;
    bottom: -60px;
    overflow-y: hidden;
  }
}

.waring {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat";
  h2{
    font-size: 4em;
    color: $red;
    text-align: center;
    margin: 0;
  }
  h3 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0 60px 0;
  }
  a {
    text-align: center;
    color: $link-blue;
    margin-top: 60px;
  }
  .type-list {
    display: flex;
    justify-content: center;
    div {
      color: white;
      padding: 5px 0;
      display: inline-block;
      text-align: center;
      width: 200px;
    }
  }

}

.mobile {
  display: none;
}

.mobile-sm {
  display: none;
}

@media (max-width: 960px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .spinner-container {
    width: calc(100% - 40px);
  }
}
@media (max-width: 760px) {
  .mobile-sm {
    display: block;
  }
  .desktop-sm {
    display: none;
  }
  .spinner-container {
    width: 100%;
  }
}
